<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Boggle</title>
  </head>
  <body>
    <section id="boggle">
      <table class="board">
        <tbody>
          {% for row in board %}
          <tr>
            {% for letter in row %}
            <td>{{ letter }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <form class="submit-word" method="GET">
        <input type="text" name="word" class="word" autofocus />
        <button>Submit Guess</button>
      </form>
      <p class="feedback"></p>
      <ul class="guesses"></ul>
    </section>
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/app.js"></script>
    <script>
      let game = new BoggleGame("boggle");
    </script>
  </body>
</html>
